/* Global Styles */
body {
  background-color: hsl(0, 0%, 20%);
  color: #c0c0c0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bolder;
}

/* Hyperlinks Styles */
a {
  color: #c0c0c0;
  text-decoration: none;
}

/* Body Content Container */
.body-content {
  padding-top: 50px;
  display: flex;
  flex-direction: column; /* To stack divs vertically */
  align-items: center;
}

/* Body Container */
.body-container {
  display: flex;
  flex-direction: column; /* To stack divs vertically */
  align-items: center;
}

/* Logo Styles */
.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo h2 {
  font-size: 3.5rem;
  background: linear-gradient(
    45deg,
    #0099cc,
    #00ccff
  ); /* Light blue gradient */
  background-clip: text; /* Standard property */
  -webkit-background-clip: text; /* For WebKit-based browsers like Safari */
  color: transparent;
  margin: 0;
}

.logo h3 {
  font-size: 25px;
  margin: 20px 0;
  font-weight: lighter;
  animation: pulse-text 2s infinite;
}

/* Navigation Bar Styles */
.topnav {
  padding: 14px 25px 23px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  font-size: 1.5rem;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.left-section {
  float: left;
}

.right-section {
  float: right;
}

/* Button Styles */
.button {
  border: none;
  color: #c0c0c0;
  background-color: #666666;
  text-transform: uppercase;
  padding: 7px 23px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  transition: all 0.3s ease-out; /* Add a transition for smooth animation */
}

.button:hover {
  background-color: #555555;
  color: #fff;
}

/* Overlay and Popup Styles */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 10;
}

.wrapper {
  margin: 70px auto;
  padding: 20px;
  background: #424242;
  border-radius: 10px;
  width: 30%;
  position: relative;
}

.wrapper .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 100ms;
  font-size: 30px;
  text-decoration: none;
}

.wrapper .content {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}

/* Form and Input Styles */
.container {
  border-radius: 5px;
  padding: 20px 0;
}

input[type="text"],
textarea {
  width: 80%;
  padding: 9px;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #c0c0c0;
  background-color: #424242;
}

input[type="text"]:focus {
  outline: 2px solid #00ccff;
}

input[type="submit"] {
  font-weight: bolder;
}

/* Pop-up Navigation Styles */
.pop-up-nav {
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.pop-up-nav:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  bottom: 0;
  left: 0;
  background: #00ccff; /* Set the desired underline color */
  transform: scaleX(0); /* Initially no width */
  transform-origin: 0 100%;
  transition: transform 0.3s ease-out;
}

pop-up-nav:hover {
  color: #00ccff; /* Change text color to orange on hover */
}

pop-up-nav:hover:after {
  transform: scaleX(1); /* Expand the underline on hover */
}

#in-nav {
  background-color: #424242;
}

/* Carousel and Item Styles */
.items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  user-select: none;
}

.items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  opacity: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Active Item Styles */
.item.active {
  opacity: 0.7;
  z-index: 15;
  cursor: pointer;
  animation: pulse-border 2s infinite;
}

.item.active:hover {
  opacity: 1;
}

@keyframes pulse-border {
  0% {
    border: 4px solid transparent;
  }
  50% {
    border: 4px solid #00ccff; /* Blue border color */
    box-shadow: 0 0 10px #00ccff; /* Optional: Add a blue shadow */
  }
  100% {
    border: 4px solid transparent;
  }
}

@keyframes pulse-text {
  0% {
    color: #c0c0c0; /* Initial text color (gray) */
  }
  50% {
    color: #00ccff; /* Text color during the pulse (bluish) */
  }
  100% {
    color: #c0c0c0; /* Back to the initial text color (gray) */
  }
}

/* Previous and Next Item Styles */
.item.prev {
  z-index: 6;
  opacity: 0.25;
  transform: translate(-125%, -50%);
}

.item.next {
  z-index: 6;
  opacity: 0.25;
  transform: translate(25%, -50%);
}
